<html>
<head>
  <% include partials/meta.html.ejs %>
  <link rel="stylesheet" href="/style2.css" />
  <script src="//use.typekit.net/ohd3igy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="full" onload="document.body.setAttribute('class','full loaded')">
  <div id="splash" class="main" style="background-image: url('/photos/splash-lores.jpg');">
    <script>
      var img = new Image()
      img.src = '/photos/splash.jpg'
      img.onload = function () {
        document.getElementById('splash').style.backgroundImage = 'url(/photos/splash.jpg)';
      }
    </script>

    <div class="meat">

<svg width="444" height="417" viewBox="0 0 444 417" class="top-circle" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M100.081 67.1496L97.4947 69.4054L88.5284 62.9586L91.2394 75.8163L78.8697 71.3824L84.0377 81.1419L81.4512 83.3977L71.9393 65.2618L86.712 70.6252L83.4972 55.1816L100.081 67.1496Z" fill="white"/>
<path d="M121.765 52.769L118.682 54.7638L115.592 52.904L108.097 57.7539L108.507 61.3477L105.403 63.3555L102.804 41.3116L121.765 52.769ZM107.655 54.0665L112.41 50.9897L106.91 47.6589L107.655 54.0665Z" fill="white"/>
<path d="M136.171 37.2869L131.023 26.6071L134.006 25.1689L142.657 43.1126L125.932 37.2142L131.08 47.894L128.097 49.3322L119.447 31.3885L136.171 37.2869Z" fill="white"/>
<path d="M159.312 15.8688L163.125 27.1204C163.839 29.2267 163.705 31.2741 162.723 33.2623C161.741 35.2506 160.204 36.599 158.113 37.3076C156.007 38.0213 153.959 37.8873 151.971 36.9054C149.983 35.9236 148.632 34.3794 147.918 32.2731L144.106 21.0215L147.242 19.9586L151.055 31.2102C151.476 32.4528 152.267 33.3672 153.429 33.9534C154.601 34.5194 155.808 34.5918 157.05 34.1708C158.278 33.7549 159.177 32.9687 159.748 31.8123C160.329 30.6355 160.409 29.4259 159.988 28.1833L156.176 16.9316L159.312 15.8688Z" fill="white"/>
<path d="M180.873 14.0804L173.467 15.7129L174.459 20.2129L180.599 18.8594L181.312 22.0937L175.171 23.4472L176.163 27.9472L183.57 26.3147L184.288 29.5725L173.624 31.9231L169.491 13.1732L180.155 10.8226L180.873 14.0804Z" fill="white"/>
<path d="M195.448 24.4535L203.407 23.4942L203.806 26.8062L192.535 28.1647L190.238 9.10272L193.55 8.70349L195.448 24.4535Z" fill="white"/>
<path d="M230.06 26.0015L226.388 26.0296L224.779 22.8018L215.852 22.8702L214.268 26.1224L210.573 26.1507L220.212 6.15633L230.06 26.0015ZM217.458 19.5218L223.122 19.4784L220.27 13.7161L217.458 19.5218Z" fill="white"/>
<path d="M264.175 23.8662L258.738 22.9129L257.785 28.35L254.948 27.8526L255.901 22.4156L250.464 21.4623L250.966 18.6019L256.403 19.5552L257.352 14.1418L260.189 14.6391L259.24 20.0525L264.677 21.0058L264.175 23.8662Z" fill="white"/>
<path d="M299.556 21.0756L295.177 33.4771C294.553 35.2423 293.387 36.5272 291.678 37.3319C289.988 38.1268 288.239 38.2046 286.428 37.5653C284.678 36.9473 283.398 35.7911 282.588 34.0967L285.628 32.6248C286.067 33.5435 286.701 34.1493 287.531 34.4423C288.466 34.7726 289.373 34.728 290.251 34.3083C291.144 33.894 291.745 33.2493 292.054 32.3743L296.433 19.9728L299.556 21.0756Z" fill="white"/>
<path d="M323.948 32.0093L318.789 42.7107C317.823 44.714 316.293 46.0814 314.2 46.813C312.107 47.5445 310.066 47.4308 308.077 46.472C306.073 45.5062 304.706 43.9766 303.974 41.8833C303.243 39.7899 303.36 37.7416 304.326 35.7382L309.485 25.0368L312.468 26.4751L307.309 37.1765C306.739 38.3583 306.664 39.5652 307.082 40.7972C307.522 42.0217 308.333 42.9188 309.515 43.4886C310.682 44.0514 311.875 44.12 313.092 43.6946C314.331 43.2616 315.236 42.4542 315.805 41.2724L320.964 30.571L323.948 32.0093Z" fill="white"/>
<path d="M327.476 52.4073L334.272 56.6582L332.502 59.4865L322.878 53.4664L333.06 37.1886L335.888 38.9577L327.476 52.4073Z" fill="white"/>
<path d="M341.679 66.0875L338.999 64.1004L350.436 48.6783L353.116 50.6654L341.679 66.0875Z" fill="white"/>
<path d="M362.377 83.6817L359.647 81.2261L360.636 77.7579L353.998 71.7873L350.636 73.1209L347.888 70.6492L368.49 62.3873L362.377 83.6817ZM357.443 70.3984L361.654 74.1862L363.434 68.008L357.443 70.3984Z" fill="white"/>
<path d="M20.2351 249.333L19.3599 245.767L22.1291 243.456L20.0012 234.785L16.4713 233.996L15.5904 230.407L37.2702 235.169L20.2351 249.333ZM23.63 235.575L24.98 241.076L29.928 236.971L23.63 235.575Z" fill="white"/>
<path d="M40.3283 248.882L42.1679 253.984C42.7269 255.535 42.6448 257.052 41.9217 258.538C41.2191 260.033 40.0851 261.062 38.5198 261.627C37.421 262.023 36.3067 262.093 35.1769 261.837C34.0526 261.596 33.0909 261.075 32.2921 260.275L26.7108 267.721L25.3596 263.973L30.5292 257.083L30.1711 256.09L23.3978 258.532L22.2664 255.394L40.3283 248.882ZM38.3215 253.151L33.2867 254.967L33.9868 256.908C34.2364 257.601 34.6889 258.101 35.3442 258.409C36.02 258.727 36.7041 258.761 37.3964 258.511C38.0888 258.261 38.5938 257.799 38.9114 257.123C39.2345 256.462 39.2712 255.786 39.0215 255.093L38.3215 253.151Z" fill="white"/>
<path d="M48.3164 277.026L45.1041 270.156L40.9299 272.108L43.5932 277.804L40.5929 279.207L37.9296 273.51L33.7554 275.462L36.9676 282.332L33.9456 283.745L29.3204 273.853L46.7132 265.721L51.3384 275.613L48.3164 277.026Z" fill="white"/>
<path d="M55.3839 310.291L54.7585 313.523C51.9594 312.982 49.7625 311.531 48.1679 309.171C46.5733 306.812 46.0468 304.232 46.5884 301.433C47.1301 298.634 48.5807 296.437 50.9405 294.843C53.3002 293.248 55.8797 292.721 58.6788 293.263C61.4779 293.805 63.6748 295.255 65.2694 297.615C66.864 299.975 67.3905 302.554 66.8489 305.353L63.6165 304.728C63.964 302.813 63.6002 301.06 62.5252 299.469C61.4412 297.865 59.944 296.878 58.0335 296.509C56.1452 296.143 54.399 296.503 52.7949 297.587C51.1908 298.671 50.1994 300.161 49.8208 302.059C49.4644 303.96 49.8281 305.713 50.9121 307.317C51.9871 308.908 53.4777 309.899 55.3839 310.291Z" fill="white"/>
<path d="M76.2599 318.391L71.4034 312.566L67.8641 315.517L71.8907 320.346L69.3468 322.467L65.3203 317.637L61.781 320.588L66.6374 326.413L64.0751 328.549L57.0824 320.162L71.8295 307.867L78.8222 316.255L76.2599 318.391Z" fill="white"/>
<path d="M74.0015 334.274L79.6615 339.95L77.2992 342.305L69.2837 334.267L82.8798 320.71L85.2353 323.072L74.0015 334.274Z" fill="white"/>
<path d="M101.322 342.158L95.5108 337.285L92.5498 340.815L97.3678 344.856L95.2396 347.394L90.4216 343.353L87.4606 346.884L93.2716 351.757L91.128 354.313L82.7609 347.296L95.0983 332.585L103.465 339.602L101.322 342.158Z" fill="white"/>
<path d="M108.228 343.255L112.815 346.453C114.075 347.332 114.838 348.546 115.103 350.096C115.368 351.646 115.047 353.071 114.141 354.37C113.775 354.895 113.296 355.331 112.703 355.678C112.123 356.035 111.536 356.26 110.944 356.354C111.209 357.065 111.228 357.849 111.002 358.706C110.797 359.558 110.476 360.299 110.036 360.929C109.13 362.228 107.904 363.022 106.358 363.309C104.825 363.606 103.429 363.315 102.169 362.436L97.2468 359.004L108.228 343.255ZM109.057 347.899L106.462 351.62L108.963 353.363C109.278 353.583 109.692 353.589 110.207 353.383C110.722 353.176 111.121 352.869 111.405 352.462C111.798 351.898 111.946 351.308 111.848 350.694C111.772 350.075 111.458 349.574 110.907 349.19L109.057 347.899ZM104.554 354.357L101.891 358.176L104.077 359.7C104.615 360.075 105.187 360.191 105.794 360.048C106.413 359.915 106.915 359.572 107.3 359.021C107.584 358.614 107.743 358.12 107.777 357.54C107.833 356.955 107.704 356.553 107.389 356.333L104.554 354.357Z" fill="white"/>
<path d="M122.26 352.742L126.974 355.426C128.406 356.241 129.33 357.448 129.745 359.047C130.182 360.64 129.989 362.16 129.166 363.606C128.588 364.621 127.787 365.398 126.762 365.937C125.75 366.485 124.681 366.714 123.554 366.624L124.149 375.911L120.687 373.94L120.14 365.344L119.222 364.821L115.66 371.078L112.761 369.428L122.26 352.742ZM123.509 357.292L120.861 361.943L122.655 362.964C123.294 363.328 123.963 363.415 124.662 363.223C125.382 363.025 125.924 362.607 126.288 361.967C126.652 361.327 126.735 360.648 126.538 359.928C126.354 359.215 125.942 358.677 125.303 358.313L123.509 357.292Z" fill="white"/>
<path d="M146.702 386.235L143.337 384.764L143.184 381.16L135.004 377.584L132.232 379.909L128.846 378.428L145.798 364.099L146.702 386.235ZM137.835 375.181L143.025 377.45L142.769 371.026L137.835 375.181Z" fill="white"/>
<path d="M167.299 376.293L163.666 375.124L158.805 390.224L155.652 389.209L160.514 374.109L156.881 372.939L157.904 369.764L168.321 373.117L167.299 376.293Z" fill="white"/>
<path d="M173.097 394.182L169.858 393.385L174.444 374.741L177.684 375.538L173.097 394.182Z" fill="white"/>
<path d="M194.707 390.806L196.56 379.095L199.831 379.613L196.719 399.288L186.333 384.913L184.481 396.623L181.209 396.106L184.322 376.43L194.707 390.806Z" fill="white"/>
<path d="M214.485 390.923L223.861 391.297C223.592 394.04 222.566 396.289 220.782 398.044C218.999 399.798 216.773 400.622 214.103 400.516C211.257 400.402 208.867 399.298 206.933 397.204C204.999 395.109 204.088 392.639 204.202 389.793C204.315 386.947 205.419 384.557 207.514 382.623C209.608 380.689 212.078 379.779 214.924 379.892C217.674 380.002 220.003 381.039 221.91 383.005L219.467 385.237C218.189 383.953 216.631 383.275 214.792 383.201C212.858 383.124 211.176 383.746 209.746 385.066C208.333 386.371 207.588 387.99 207.511 389.925C207.434 391.859 208.048 393.541 209.352 394.97C210.672 396.384 212.3 397.129 214.235 397.206C216.041 397.278 217.513 396.704 218.651 395.485C218.934 395.192 219.205 394.842 219.461 394.436L214.353 394.233L214.485 390.923Z" fill="white"/>
<path d="M250.178 382.088L246.389 382.542L248.279 398.293L244.991 398.688L243.101 382.937L239.312 383.392L238.915 380.08L249.781 378.776L250.178 382.088Z" fill="white"/>
<path d="M272.31 393.929L269.072 394.622L267.4 386.807L260.993 388.177L262.665 395.992L259.402 396.69L255.386 377.915L258.648 377.217L260.295 384.915L266.702 383.544L265.055 375.847L268.294 375.154L272.31 393.929Z" fill="white"/>
<path d="M285.387 373.518L278.151 375.791L279.533 380.187L285.532 378.302L286.524 381.462L280.525 383.347L281.907 387.743L289.142 385.47L290.142 388.652L279.724 391.926L273.969 373.609L284.387 370.335L285.387 373.518Z" fill="white"/>
<path d="M300.586 384.688L297.485 385.916L290.416 368.065L293.518 366.837L300.586 384.688Z" fill="white"/>
<path d="M299.904 364.219L304.784 361.851C306.266 361.131 307.784 361.052 309.338 361.614C310.899 362.155 312.042 363.173 312.769 364.67C313.279 365.721 313.467 366.822 313.332 367.972C313.211 369.116 312.795 370.127 312.083 371.006L320.078 375.769L316.494 377.508L309.096 373.096L308.146 373.558L311.291 380.035L308.29 381.492L299.904 364.219ZM304.362 365.763L306.7 370.578L308.557 369.677C309.219 369.355 309.668 368.852 309.905 368.168C310.15 367.463 310.111 366.779 309.79 366.117C309.468 365.455 308.955 365.001 308.249 364.757C307.558 364.506 306.881 364.541 306.219 364.862L304.362 365.763Z" fill="white"/>
<path d="M355.232 352.739L352.454 354.754L344.1 347.531L345.65 360.58L333.727 355.057L338.001 365.24L335.223 367.255L327.372 348.34L341.605 355.004L339.785 339.335L355.232 352.739Z" fill="white"/>
<path d="M373.579 335.633L370.914 338.159L367.535 336.898L361.056 343.04L362.119 346.498L359.436 349.041L352.837 327.848L373.579 335.633ZM359.945 339.496L364.056 335.599L358.039 333.334L359.945 339.496Z" fill="white"/>
<path d="M363.236 318.4L366.758 314.275C367.828 313.021 369.188 312.341 370.836 312.234C372.483 312.104 373.939 312.579 375.204 313.659C376.093 314.418 376.705 315.351 377.042 316.459C377.39 317.556 377.414 318.649 377.114 319.739L386.347 320.9L383.76 323.93L375.215 322.851L374.529 323.654L380.005 328.329L377.839 330.866L363.236 318.4ZM367.94 318.029L372.01 321.504L373.35 319.934C373.828 319.374 374.039 318.734 373.982 318.012C373.923 317.267 373.614 316.656 373.054 316.178C372.494 315.7 371.842 315.491 371.098 315.55C370.364 315.596 369.758 315.899 369.28 316.459L367.94 318.029Z" fill="white"/>
<path d="M374.643 304.624L377.763 300.187C378.711 298.839 380.001 298.035 381.632 297.774C383.26 297.49 384.754 297.827 386.115 298.785C387.07 299.457 387.768 300.328 388.207 301.4C388.655 302.459 388.781 303.545 388.585 304.659L397.886 304.952L395.594 308.21L386.985 307.935L386.377 308.799L392.266 312.941L390.347 315.67L374.643 304.624ZM379.291 303.814L383.668 306.893L384.856 305.205C385.279 304.603 385.429 303.945 385.305 303.232C385.176 302.497 384.811 301.917 384.209 301.494C383.607 301.07 382.939 300.922 382.203 301.051C381.477 301.166 380.902 301.524 380.478 302.126L379.291 303.814Z" fill="white"/>
<path d="M403.092 296.35L401.382 299.215L384.895 289.375L386.605 286.51L403.092 296.35Z" fill="white"/>
<path d="M415.276 272.758L413.674 276.062L410.067 276.074L406.173 284.108L408.387 286.968L406.774 290.294L393.121 272.793L415.276 272.758ZM403.883 281.184L406.354 276.087L399.924 276.091L403.883 281.184Z" fill="white"/>
<path d="M412.39 254.928L415.448 246.057C417.998 247.105 419.856 248.736 421.022 250.949C422.188 253.162 422.336 255.531 421.465 258.057C420.537 260.75 418.792 262.72 416.229 263.969C413.666 265.218 411.038 265.379 408.345 264.45C405.653 263.522 403.682 261.777 402.433 259.214C401.184 256.651 401.024 254.023 401.952 251.33C402.849 248.729 404.514 246.798 406.945 245.537L408.379 248.52C406.782 249.373 405.683 250.67 405.084 252.41C404.453 254.24 404.563 256.03 405.416 257.779C406.258 259.508 407.595 260.688 409.425 261.319C411.255 261.95 413.042 261.847 414.786 261.01C416.521 260.152 417.703 258.808 418.334 256.978C418.923 255.269 418.798 253.694 417.958 252.253C417.759 251.897 417.502 251.538 417.187 251.175L415.521 256.008L412.39 254.928Z" fill="white"/>
<path d="M412.48 228.179L410.776 235.569L415.266 236.605L416.679 230.477L419.906 231.222L418.493 237.349L422.984 238.384L424.687 230.994L427.938 231.743L425.485 242.384L406.776 238.071L409.229 227.43L412.48 228.179Z" fill="white"/>
<path d="M31.7065 144.434C30.4108 143.172 29.7137 141.766 29.3293 140.603C27.446 141.858 25.7037 143.267 24.2247 144.856C25.4915 146.832 30.6009 147.845 32.9086 149.411C33.7929 150.019 35.4994 151.181 34.0477 151.69C32.6688 152.163 30.8012 151.676 26.8012 149.588C25.0524 148.682 23.8142 147.416 23.0146 146.295C22.1595 147.434 21.6117 148.861 21.3533 150.346C22.7232 153.36 33.4004 152.239 32.9303 155.294C32.69 156.724 29.7421 156.028 25.3634 154.908C23.6379 154.473 22.253 153.668 21.243 152.874C21.3961 155.012 22.1748 157.066 23.6412 158.519C26.797 161.657 31.7621 161.217 31.7621 161.217C32.1072 161.19 34.3255 167.384 39.0094 169.85C41.8151 171.35 44.8963 170.843 47.4538 169.384C46.0446 169.067 44.4529 168.465 42.9163 167.311C38.8195 164.323 36.1264 162.266 37.252 161.057C39.6597 158.474 46.2361 168.611 49.8847 167.557C50.5401 166.94 51.1236 166.258 51.5848 165.55C51.985 164.972 52.4346 164.171 52.8807 163.21C51.2196 163.375 48.9861 163.277 46.663 162.314C41.9547 160.335 40.2168 159.054 39.6609 157.517C39.1032 155.9 41.3617 156.548 42.5057 156.89C45.9281 157.906 51.2675 162.503 53.6516 160.875C53.7145 160.826 53.7873 160.789 53.8476 160.762L53.8601 160.752C54.3585 159.262 54.7886 157.581 55.0147 155.797C53.661 155.964 52.0666 155.955 50.3733 155.535C45.441 154.28 41.1748 152.89 42.7489 151.837C45.7811 149.842 51.6169 153.724 55.1635 153.706C55.2127 151.307 54.8054 148.819 53.6645 146.459C52.8717 146.797 51.8946 147.056 50.817 147.108C47.3116 147.257 45.2711 147.923 44.7451 145.569C44.0718 142.639 49.7421 146.569 52.822 144.557C50.1427 137.932 50.4113 132.004 50.4113 132.004C50.4113 132.004 44.4618 133.237 37.7604 136.078C37.7478 136.088 37.7478 136.088 37.7478 136.088C35.6768 139.851 43.0663 141.617 40.6212 142.805C38.9519 143.607 38.3654 142.135 36.8201 140.011C36.0573 138.962 35.7448 137.865 35.6273 137.041C33.9706 137.834 32.2905 138.726 30.6894 139.718C30.9907 142.33 37.2745 144.762 37.1163 147.877C37.026 149.291 34.4516 147.1 31.7065 144.434Z" fill="white"/>
<path d="M412.687 150.939C413.743 148.45 414.952 146.44 416.747 144.377C415.669 140.582 413.899 137.7 413.164 136.599C412.361 137.657 410.407 140.441 409.072 144.183C410.716 146.325 411.802 148.412 412.687 150.939Z" fill="white"/>
<path d="M413.119 152.242C414.073 155.302 414.578 158.18 414.626 160.524C414.662 162.381 414.404 164.527 413.342 165.723C414.412 165.58 415.746 164.673 417.161 163.206C423.287 156.846 426.118 147.733 424.434 139.136C423.282 139.808 420.4 141.649 417.737 144.6C415.707 146.986 414.287 149.351 413.119 152.242Z" fill="white"/>
<path d="M407.875 163.492C411.199 167.051 413.559 166.28 413.724 161.385C413.828 158.271 412.967 154.165 411.452 150.176C409.946 146.213 405.291 140.895 401.746 138.544C400.444 143.454 400.401 148.913 402.213 153.685C403.728 157.674 405.766 161.235 407.875 163.492Z" fill="white"/>
<path d="M394.398 152.865C397.147 153.224 399.31 153.909 401.795 155.076C400.77 152.59 400.202 150.318 400.014 147.623C396.531 145.711 393.217 144.927 391.914 144.669C392.095 145.98 392.69 149.309 394.398 152.865Z" fill="white"/>
<path d="M406.707 163.531C405.183 161.748 403.65 159.261 402.337 156.336C400.514 155.437 398.87 154.709 396.87 154.225C393.141 153.319 388.884 153.304 385.17 154.047C389.622 161.593 397.783 166.532 406.587 167.222C408.619 167.38 410.223 167.17 411.119 166.568C409.334 166.361 407.854 164.789 406.707 163.531Z" fill="white"/>
</svg>


      <div class="details">
        <div>
          <h3>June 11, 2022</h3>
          <h3>
            The Historic<br> Alfred I. duPont Building<br />
            Miami &#44; Florida<br />
          </h3>
        </div>
      </div>

    </div>
  </div>

  <nav>
    <div>
      <a href="#">Manuela + Julia</a>
      <ul>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#location">Location</a></li>
        <li><a href="#lodging">Lodging</a></li>
        <li><a href="#wear">Wear</a></li>
        <li><a href="#gifts">Gifts</a></li>
        <li><a href="#rsvp">RSVP</a></li>
      </ul>
    </div>
  </nav>
  <script type="text/javascript">
    var nav = document.getElementsByTagName('nav')[0]
    var pos = nav.offsetTop
    var sticky = false;
    window.addEventListener('resize', function () {
      pos = nav.offsetTop
    })
    window.addEventListener('scroll', function () {
      if (!sticky && window.scrollY > pos) {
        nav.style.position = 'fixed'
        sticky = true
      } else if (sticky && window.scrollY < pos) {
        nav.style.position = ''
        sticky = false
      }
    })
  </script>

  <section id="schedule">
    <div class="header">
      <div class="content">
        <h2>Weekend Schedule</h2>
      </div>
    </div>

    <div class="content">

      <h3>Friday June 10th</h3>

      <h4>Rehearsal Bites and Drinks</h4>
      <p class="meta">Cerveceria La Tropical, Wynwood</p>
      <p class="meta">3pm - 5pm</p>
      <p class="meta">Casual Attire</p>
      <p class="meta">Required for Wedding Party and Immediate Family</p>
      <p>Before we say "I do," we want to see you! Immediate family and bridal parties, please join us for rehearsal bites and drinks in preparation of our wedding day.</p>

      <h4>Welcome to Miami, Bienvenidos a Miami</h4>
      <p class="meta">Cerveceria La Tropical, Wynwood</p>
      <p class="meta">5pm - 10pm</p>
      <p class="meta">Casual Attire</p>
      <p class="meta">Optional Event for Everyone</p>
      <p>Join us as we celebrate the night before the wedding! We'll start at the Cerveceria but spend the night throughout Wynwood.</p>


      <h3>Saturday June 11th</h3>

      <h4>Explore Miami</h4>
      <p class="meta">On your own</p>
      <p>Whether you arrived yesterday or just landed with a few hours to spare,
      we really recommend exploring Miami. There's a ton to see, check out
      spots like Wynwood Walls, Miami Design District, the Perez Art Museum Miami, and South Beach.</p>

      <h4>Wedding Ceremony and Celebration</h4>
      <p class="meta">The Historic Alfred I. duPont Building</p>
      <p class="meta">4pm - 10pm</p>
      <p class="meta">Formal Attire</p>
      <p>What we're all here for. Join us for a night to remember. </p>

      <h4>After Party</h4>
      <p class="meta">E11EVEN</p>
      <p class="meta">11pm - ???</p>
      <p class="meta">Formal Attire</p>
      <p class="meta">Optional Event</p>
      <p>The celebration continues! Let's end the night together at E11EVEN night club, just a mile away from the venue. </p>

    </div>
  </section>

  <section id="location">
    <div class="header">
      <div class="content">
        <h2>Miami, Florida</h2>
      </div>
    </div>
    <div class="content">

      <p>Julia's love of Cuban food and Manuela's favorite video game setting bring us to Magic City. Just miles from where the two met, Miami is a city unlike any other with beautiful beaches, colorful cultures, and an eclectic food scene.<br><br>
        Our wedding ceremony and celebration will be held at The Historic Alfred I. duPont Building (yes we do love saying "The Historic" every time), located at 169 E Flagler St, Miami, FL. 

        </p>

      <h3>Getting There</h3>

      <div class="columns">
        <div>
          <a href="https://www.google.com/maps/dir/Miami+International+Airport+(MIA),+Northwest+42nd+Avenue,+Miami,+FL/The+Historic+Alfred+I.+duPont+Building,+East+Flagler+Street,+Miami,+FL/@25.7918457,-80.2736681,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x88d9b74d4eb94ac1:0x989fdae0cba2f8e1!2m2!1d-80.2870509!2d25.7958723!1m5!1m1!1s0x88d9b69e83df7d7f:0xef7185c24c255ab6!2m2!1d-80.1906232!2d25.7743677" target="_blank">
            <div class="map"><iframe frameborder="0" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d57477.68687707077!2d-80.27366811429607!3d25.791845657340435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x88d9b74d4eb94ac1%3A0x989fdae0cba2f8e1!2sMiami%20International%20Airport%20(MIA)%2C%20Northwest%2042nd%20Avenue%2C%20Miami%2C%20FL!3m2!1d25.7958723!2d-80.2870509!4m5!1s0x88d9b69e83df7d7f%3A0xef7185c24c255ab6!2sThe%20Historic%20Alfred%20I.%20duPont%20Building%2C%20East%20Flagler%20Street%2C%20Miami%2C%20FL!3m2!1d25.7743677!2d-80.19062319999999!5e0!3m2!1sen!2sus!4v1631492317978!5m2!1sen!2sus"></iframe></div>

            <h4>Miami Intl Airport (MIA)</h4>
          </a>
          <p>Shorter than a 10 mile ride from the venue, the "Gateway of the Americas" is the quickest and easiest way to get to Miami. <br><br>Top people watching: VCs trying to make tech Miami happen, Pitbull, and hot TikTok influencers.</p>
        </div>

        <div>
          <a href="https://www.google.com/maps/dir/Fort+Lauderdale-Hollywood+International+Airport,+100+Terminal+Dr,+Fort+Lauderdale,+FL+33315/The+Historic+Alfred+I.+duPont+Building,+East+Flagler+Street,+Miami,+FL/@25.9304974,-80.3208212,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x88d9aa7ae4c8faf5:0x2ae0339d90a6cbe6!2m2!1d-80.1506022!2d26.0742344!1m5!1m1!1s0x88d9b69e83df7d7f:0xef7185c24c255ab6!2m2!1d-80.1906232!2d25.7743677" target="_blank">
            <div class="map"><iframe frameborder="0" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d229641.2136643697!2d-80.32082120997848!3d25.93049735202384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x88d9aa7ae4c8faf5%3A0x2ae0339d90a6cbe6!2sFort%20Lauderdale-Hollywood%20International%20Airport%2C%20100%20Terminal%20Dr%2C%20Fort%20Lauderdale%2C%20FL%2033315!3m2!1d26.074234399999998!2d-80.1506022!4m5!1s0x88d9b69e83df7d7f%3A0xef7185c24c255ab6!2sThe%20Historic%20Alfred%20I.%20duPont%20Building%2C%20East%20Flagler%20Street%2C%20Miami%2C%20FL!3m2!1d25.7743677!2d-80.19062319999999!5e0!3m2!1sen!2sus!4v1631492489902!5m2!1sen!2sus"></iframe></div>

            <h4>Fort Lauderdale-Hollywood Intl Airport (FLL)</h4>
          </a>
          <p>A 25 mile drive from Miami, we only recommend flying into
          Fort Lauderdale if you're trying to gamble at the Hard Rock Guitar Hotel or shop at Sawgrass Mills Mall. <br><br>Top people watching: Snow birds, Debbie Wasserman Schultz, and large families from the Midwest. </p>
        </div>
      </div>

      <div class="weather">
      <h3>Weather Report</h3>
      <p>
        Miami has subtropical monsoon climate (how sweet). Not to worry though, our venue is entirely indoors. 
        For your visit, you can expect Miami to be hot, humid and reliably sunny in the day time, expect highs in the 80s. 
        At night the temperature drops to the mid 70s. Don't forget to pack sunscreen!
      </p>
      <a href="https://www.wunderground.com/weather/us/fl/miami" target="_blank">
        <div class="weather-glyph">
          <img src="/sunny.png" />
          <span class="high">87&deg;</span>
          <span class="low">73&deg; </span>
        </div>
      </a>
      </div>

    </div>
  </section>

  <section id="lodging">
    <div class="header">
      <div class="content">
        <h2>Places to Stay</h2>
      </div>
    </div>
    <div class="content">

      <h3>Hotels We Recommend</h3>
      <p>Summer in Miami is a very popular time, so we strongly encourage all guests to book early. Given the diversity of lodging in Miami, we don't have a reserved room block and want all of our guests to pick a spot that best suits them. </p>

      <div class="columns">
        <div class="place">
          <a href="https://www.hyatt.com/en-US/hotel/florida/hyatt-regency-miami/miarm" target="_blank">
            <img src="/photos/hyatt.jpg" width="300" />
            <h4>Close to Venue</h4>
          </a>
        </div>

        <div class="place">
          <a href="https://www.fontainebleau.com/" target="_blank">
            <img src="/photos/fount.jpg" width="300" />
            <h4>Iconic Miami</h4>
          </a>
        </div>

        <div class="place">
          <a href="https://www.icmiamihotel.com/" target="_blank">
            <img src="/photos/ihc.jpg" width="300" />
            <h4>Close and Iconic</h4>
          </a>
        </div>
      </div>

    </div>
  </section>

  <section id="wear">
    <div class="header">
      <div class="content">
        <h2>What To Wear</h2>
      </div>
    </div>
    <div class="content">
      <h3>Black-Tie Optional (Formal)</h3>
          <h4>*cue RuPaul* Category Is: Miami Eleganza</h4>
          <p>Our wedding venue is an elegant art deco building that used to be home to the Florida National Bank, so class up the joint in
            your favorite formal fit. <br><br>
            This is a time for you to pull out the goods: a fire pantsuit, a chic cocktail dress, or a dark suit and tie (or bowtie?). 
            If you need inspo, here are some of our suggested fits:
          </p>

        <div class="columns">

            <div class="place">
                <a href="https://twitter.com/mPinoe/status/1147971612605657090" target="_blank">
                <img src="/photos/wear/lads-formal.jpg" width="200" />
                 </a>
            </div>

            <div class="place">
                <a href="https://www.youtube.com/watch?v=ijIeCxLKSTI" target="_blank">
                <img src="/photos/wear/suits.jpg" width="200" />
                 </a>
            </div>

            <div class="place">
                <a href="https://www.reddit.com/r/AskWomen/comments/1jmx2u/for_those_of_you_that_find_men_in_suits/" target="_blank">
                <img src="/photos/wear/menfit.jpg" width="200" />
                 </a>
            </div>
        </div>
    </div>
  </section>

  <section id="gifts">
    <div class="header">
      <div class="content">
        <h2>Gifts &amp; Registry</h2>
      </div>
    </div>
    <div class="content">

      <h3><a href="https://www.zola.com/registry/manuelaandjulia" target="_blank">
        Zola Registry</a></h3>
      <p>We already have everything for a happy home and don't need anything else,
      but if you're still inclined, help us make some memories by helping to <a href="https://www.zola.com/registry/manuelaandjulia" target="_blank">fund
      our honeymoon</a> adventures to Japan!</p>

      <div class="wrap-photogrid">
        <a href="https://www.zola.com/registry/manuelaandjulia" target="_blank">
          <img src="/photos/zola/zola1.jpg" width="170" /></a>
        <a href="https://www.zola.com/registry/manuelaandjulia" target="_blank">
          <img src="/photos/zola/zola2.jpg" width="170" /></a>
        <a href="https://www.zola.com/registry/manuelaandjulia" target="_blank">
          <img src="/photos/zola/zola3.jpg" width="170" /></a>
        <a href="https://www.zola.com/registry/manuelaandjulia" target="_blank">
          <img src="/photos/zola/zola4.jpg" width="170" /></a>
      </div>

    </div>
  </section>

  <section id="rsvp">
    <div class="header">
      <div class="content">
        <h2>RSVP</h2>
      </div>
    </div>

    <div class="content">
    <h3>Updates to RSVP</h3>
      <p>Our RSVP is closed, please message Manuela or Julia directly if anything has changed. </p>

    </div>
  </section>

  <footer>

  <svg version="1.1" viewBox="0 0 300 300" fill="none" class="end-circle shimmer">
    <linearGradient id="warmombre" x1="0" x2="0" y1="0" y2="1">
      <stop offset="5%" stop-color="#D1AD70" />
      <stop offset="95%" stop-color="#D1AD70" />
    </linearGradient>

    <path d="M11.0294 128.79L11.152 126.345L13.3622 125.398L13.6603 119.454L11.5567 118.275L11.6801 115.814L24.6165 122.999L11.0294 128.79ZM15.827 120.652L15.6379 124.423L19.5828 122.746L15.827 120.652Z" fill="#5C5C5C"/>
    <path d="M24.0077 134.328L24.2812 137.933C24.3643 139.029 24.0414 139.989 23.3124 140.815C22.5949 141.65 21.683 142.11 20.5769 142.194C19.8005 142.253 19.0721 142.099 18.3918 141.734C17.7124 141.379 17.1873 140.873 16.8166 140.217L11.9052 144.007L11.7043 141.359L16.2521 137.853L16.1989 137.151L11.4126 137.514L11.2444 135.296L24.0077 134.328ZM21.9583 136.714L18.4005 136.984L18.5046 138.356C18.5417 138.845 18.7434 139.247 19.1096 139.561C19.4872 139.886 19.9206 140.029 20.4099 139.992C20.8991 139.955 21.3059 139.748 21.6303 139.37C21.9555 139.003 22.0995 138.575 22.0624 138.086L21.9583 136.714Z" fill="#5C5C5C"/>
    <path d="M24.4764 155.167L23.5377 150.199L20.5191 150.769L21.2974 154.888L19.1278 155.298L18.3495 151.179L15.3309 151.749L16.2696 156.717L14.0842 157.13L12.7327 149.977L25.3102 147.6L26.6617 154.754L24.4764 155.167Z" fill="#5C5C5C"/>
    <path d="M25.1937 181.535L24.3339 183.555C22.5851 182.81 21.356 181.557 20.6467 179.796C19.9374 178.035 19.955 176.28 20.6996 174.531C21.4442 172.782 22.6971 171.553 24.4583 170.844C26.2195 170.135 27.9744 170.152 29.7232 170.897C31.472 171.642 32.7011 172.894 33.4104 174.656C34.1197 176.417 34.1021 178.172 33.3575 179.921L31.3381 179.061C31.8324 177.861 31.8405 176.668 31.3623 175.481C30.8801 174.283 30.0422 173.431 28.8486 172.922C27.6688 172.42 26.4804 172.41 25.2831 172.892C24.0859 173.374 23.2312 174.207 22.719 175.391C22.2207 176.581 22.2127 177.774 22.6948 178.971C23.173 180.159 24.006 181.013 25.1937 181.535Z" fill="#5C5C5C"/>
    <path d="M38.5576 191.168L36.1114 186.743L33.4229 188.23L35.451 191.898L33.5186 192.967L31.4905 189.298L28.802 190.784L31.2481 195.209L29.3017 196.285L25.7796 189.914L36.9819 183.721L40.504 190.092L38.5576 191.168Z" fill="#5C5C5C"/>
    <path d="M36.3026 203.108L39.3903 207.47L37.5751 208.755L33.2024 202.578L43.6496 195.182L44.9346 196.998L36.3026 203.108Z" fill="#5C5C5C"/>
    <path d="M54.7618 212.8L51.4012 209.023L49.106 211.064L51.8923 214.196L50.2426 215.664L47.4563 212.532L45.1611 214.574L48.5216 218.351L46.86 219.83L42.0212 214.39L51.5847 205.883L56.4234 211.322L54.7618 212.8Z" fill="#5C5C5C"/>
    <path d="M60.6015 215.583L63.3727 218.076C64.1339 218.761 64.5383 219.627 64.5859 220.675C64.6336 221.722 64.3042 222.638 63.5979 223.423C63.3125 223.74 62.9593 223.989 62.5383 224.17C62.1252 224.358 61.7189 224.459 61.3193 224.472C61.4359 224.965 61.384 225.485 61.1636 226.033C60.9583 226.58 60.6844 227.044 60.3419 227.424C59.6356 228.209 58.7591 228.633 57.7126 228.696C56.6739 228.766 55.774 228.458 55.0129 227.773L52.0395 225.098L60.6015 215.583ZM60.767 218.724L58.7443 220.971L60.2547 222.331C60.445 222.502 60.719 222.54 61.0765 222.446C61.4341 222.352 61.7235 222.181 61.9447 221.936C62.2515 221.595 62.3977 221.217 62.3834 220.802C62.3842 220.387 62.218 220.029 61.885 219.73L60.767 218.724ZM57.2566 222.625L55.1803 224.932L56.5005 226.12C56.8256 226.412 57.1947 226.537 57.6077 226.492C58.0287 226.455 58.3891 226.27 58.6887 225.937C58.9099 225.691 59.0558 225.377 59.1263 224.996C59.2119 224.614 59.1596 224.337 58.9693 224.166L57.2566 222.625Z" fill="#5C5C5C"/>
    <path d="M70.672 224.257L73.6114 226.363C74.5045 227.003 75.0333 227.867 75.1979 228.956C75.3773 230.042 75.144 231.036 74.4979 231.938C74.0444 232.571 73.459 233.031 72.7419 233.318C72.0335 233.61 71.3086 233.688 70.5673 233.551L70.3182 239.75L68.1592 238.203L68.3927 232.465L67.8204 232.055L65.0248 235.957L63.2169 234.661L70.672 224.257ZM71.1846 227.36L69.1064 230.26L70.225 231.062C70.6238 231.347 71.0614 231.451 71.5377 231.372C72.0288 231.291 72.4173 231.051 72.703 230.652C72.9888 230.253 73.0912 229.808 73.01 229.317C72.9376 228.832 72.7019 228.447 72.3031 228.161L71.1846 227.36Z" fill="#5C5C5C"/>
    <path d="M86.0254 248.767L83.8722 247.602L83.9712 245.2L78.7361 242.368L76.7655 243.758L74.5983 242.585L86.6588 234.011L86.0254 248.767ZM80.7513 240.93L84.0725 242.726L84.2607 238.444L80.7513 240.93Z" fill="#5C5C5C"/>
    <path d="M102.163 243.992L99.795 243.063L95.9334 252.909L93.8778 252.102L97.7394 242.257L95.371 241.328L96.1831 239.257L102.975 241.921L102.163 243.992Z" fill="#5C5C5C"/>
    <path d="M107.131 256.67L104.997 256.045L108.595 243.761L110.73 244.387L107.131 256.67Z" fill="#5C5C5C"/>
    <path d="M123.432 255.329L124.857 247.555L127.029 247.953L124.634 261.015L117.946 251.265L116.521 259.04L114.349 258.642L116.744 245.579L123.432 255.329Z" fill="#5C5C5C"/>
    <path d="M138.403 255.78L144.653 256.058C144.465 257.886 143.774 259.382 142.58 260.546C141.386 261.71 139.899 262.253 138.119 262.174C136.223 262.089 134.633 261.346 133.35 259.944C132.067 258.541 131.467 256.892 131.552 254.995C131.636 253.098 132.379 251.508 133.782 250.225C135.184 248.942 136.833 248.343 138.73 248.427C140.563 248.509 142.112 249.207 143.378 250.524L141.742 252.004C140.894 251.145 139.858 250.688 138.632 250.633C137.343 250.576 136.22 250.985 135.262 251.861C134.316 252.726 133.815 253.804 133.757 255.093C133.7 256.382 134.104 257.505 134.969 258.462C135.845 259.409 136.928 259.911 138.217 259.968C139.422 260.021 140.405 259.643 141.167 258.834C141.357 258.639 141.538 258.407 141.71 258.137L138.305 257.986L138.403 255.78Z" fill="#5C5C5C"/>
    <path d="M165.3 249.344L162.785 249.729L164.383 260.183L162.201 260.517L160.602 250.063L158.087 250.447L157.751 248.249L164.963 247.146L165.3 249.344Z" fill="#5C5C5C"/>
    <path d="M182.134 256.174L180.002 256.747L178.618 251.602L174.4 252.737L175.784 257.882L173.636 258.46L170.312 246.099L172.459 245.521L173.823 250.589L178.041 249.455L176.678 244.387L178.81 243.813L182.134 256.174Z" fill="#5C5C5C"/>
    <path d="M191.678 241.439L186.978 243.302L188.11 246.158L192.007 244.613L192.821 246.665L188.924 248.21L190.056 251.066L194.756 249.203L195.576 251.27L188.808 253.953L184.091 242.054L190.858 239.371L191.678 241.439Z" fill="#5C5C5C"/>
    <path d="M204.342 247.109L202.359 248.116L196.563 236.704L198.545 235.697L204.342 247.109Z" fill="#5C5C5C"/>
    <path d="M204.105 232.719L207.164 230.79C208.093 230.204 209.093 230.04 210.164 230.299C211.238 230.542 212.07 231.133 212.662 232.071C213.077 232.73 213.282 233.446 213.277 234.218C213.282 234.984 213.08 235.685 212.673 236.32L218.321 238.888L216.074 240.304L210.848 237.925L210.252 238.3L212.812 242.36L210.931 243.547L204.105 232.719ZM207.172 233.414L209.075 236.432L210.239 235.698C210.654 235.437 210.915 235.071 211.022 234.6C211.132 234.114 211.056 233.664 210.794 233.249C210.532 232.834 210.159 232.571 209.673 232.461C209.197 232.346 208.751 232.419 208.336 232.68L207.172 233.414Z" fill="#5C5C5C"/>
    <path d="M242.162 218.298L240.531 219.902L234.307 215.97L236.624 224.418L228.215 221.962L232.044 228.25L230.413 229.854L223.359 218.165L233.404 221.145L230.648 210.996L242.162 218.298Z" fill="#5C5C5C"/>
    <path d="M253.761 203.314L252.302 205.28L249.939 204.842L246.393 209.622L247.489 211.77L246.021 213.749L239.244 200.594L253.761 203.314ZM245.254 207.423L247.504 204.39L243.292 203.597L245.254 207.423Z" fill="#5C5C5C"/>
    <path d="M246.036 191.51L247.808 188.358C248.347 187.4 249.149 186.781 250.213 186.498C251.273 186.201 252.287 186.325 253.254 186.869C253.933 187.25 254.454 187.782 254.817 188.464C255.185 189.136 255.341 189.848 255.286 190.6L261.475 190.171L260.173 192.486L254.444 192.88L254.098 193.493L258.282 195.847L257.192 197.785L246.036 191.51ZM249.064 190.662L252.174 192.411L252.849 191.212C253.089 190.784 253.144 190.338 253.014 189.873C252.88 189.394 252.599 189.034 252.171 188.793C251.744 188.552 251.29 188.499 250.811 188.633C250.337 188.758 249.979 189.035 249.739 189.462L249.064 190.662Z" fill="#5C5C5C"/>
    <path d="M252.298 179.787L253.711 176.458C254.14 175.447 254.868 174.742 255.894 174.343C256.915 173.931 257.937 173.941 258.958 174.374C259.674 174.679 260.251 175.149 260.688 175.786C261.128 176.414 261.362 177.104 261.39 177.858L267.494 176.746L266.456 179.191L260.806 180.217L260.531 180.865L264.949 182.74L264.081 184.787L252.298 179.787ZM255.214 178.608L258.498 180.002L259.036 178.736C259.228 178.284 259.233 177.834 259.052 177.387C258.866 176.925 258.547 176.599 258.095 176.407C257.643 176.215 257.187 176.213 256.725 176.399C256.268 176.576 255.943 176.89 255.752 177.342L255.214 178.608Z" fill="#5C5C5C"/>
    <path d="M270.141 168.88L269.465 170.998L257.271 167.108L257.947 164.989L270.141 168.88Z" fill="#5C5C5C"/>
    <path d="M274.737 149.812L274.247 152.211L271.919 152.813L270.727 158.645L272.629 160.127L272.136 162.541L260.431 153.487L274.737 149.812ZM268.766 157.133L269.522 153.434L265.369 154.496L268.766 157.133Z" fill="#5C5C5C"/>
    <path d="M270.055 136.663L270.436 130.418C272.261 130.636 273.745 131.352 274.89 132.565C276.034 133.779 276.552 135.274 276.443 137.052C276.328 138.947 275.558 140.525 274.135 141.784C272.712 143.044 271.053 143.616 269.157 143.501C267.262 143.385 265.685 142.616 264.425 141.192C263.165 139.769 262.593 138.11 262.709 136.215C262.821 134.383 263.545 132.846 264.882 131.602L266.335 133.262C265.462 134.096 264.988 135.125 264.913 136.349C264.834 137.637 265.225 138.767 266.085 139.739C266.935 140.699 268.004 141.218 269.292 141.297C270.58 141.375 271.71 140.99 272.68 140.141C273.641 139.28 274.161 138.206 274.24 136.918C274.313 135.715 273.951 134.726 273.154 133.95C272.963 133.757 272.734 133.572 272.467 133.395L272.259 136.797L270.055 136.663Z" fill="#5C5C5C"/>
    <path d="M265.144 118.108L265.472 123.153L268.538 122.954L268.266 118.771L270.469 118.628L270.741 122.811L273.807 122.611L273.479 117.566L275.698 117.422L276.17 124.686L263.397 125.517L262.925 118.252L265.144 118.108Z" fill="#5C5C5C"/>
    <path d="M261.707 89.2492C262.188 88.0361 262.747 87.0543 263.586 86.0447C263.03 84.2079 262.152 82.8176 261.788 82.2866C261.414 82.8041 260.506 84.1648 259.905 85.9875C260.715 87.0194 261.257 88.0267 261.707 89.2492Z" fill="#5C5C5C"/>
    <path d="M261.928 89.8793C262.417 91.36 262.688 92.7542 262.735 93.8915C262.772 94.7928 262.671 95.8356 262.174 96.4214C262.685 96.3464 263.315 95.9002 263.979 95.1812C266.85 92.0648 268.113 87.6278 267.217 83.4636C266.672 83.7951 265.309 84.703 264.063 86.1481C263.115 87.3156 262.458 88.4703 261.928 89.8793Z" fill="#5C5C5C"/>
    <path d="M259.53 95.365C261.16 97.076 262.284 96.6905 262.312 94.3139C262.33 92.8019 261.875 90.8134 261.107 88.8848C260.345 86.9683 258.059 84.4099 256.335 83.2863C255.761 85.6757 255.797 88.3254 256.715 90.6325C257.482 92.5611 258.496 94.2798 259.53 95.365Z" fill="#5C5C5C"/>
    <path d="M252.96 90.2722C254.281 90.4333 255.325 90.7551 256.528 91.3096C256.012 90.1079 255.716 89.0082 255.598 87.7008C253.909 86.7896 252.312 86.4252 251.684 86.3063C251.785 86.9421 252.104 88.5546 252.96 90.2722Z" fill="#5C5C5C"/>
    <path d="M258.97 95.3893C258.221 94.5314 257.461 93.3317 256.801 91.9186C255.918 91.4911 255.123 91.1457 254.159 90.9205C252.361 90.499 250.321 90.5122 248.548 90.8909C250.76 94.5316 254.723 96.8891 258.951 97.1815C259.927 97.2483 260.693 97.1387 261.117 96.8419C260.259 96.7504 259.533 95.9947 258.97 95.3893Z" fill="#5C5C5C"/>
    <g clip-path="url(#clip0)">
    <path d="M24.6955 88.1542C24.1265 87.5523 23.8342 86.8957 23.6804 86.3561C22.7947 86.8947 21.9707 87.5064 21.2637 88.2053C21.8059 89.1336 24.1248 89.6944 25.1511 90.4546C25.5442 90.7496 26.3031 91.314 25.6291 91.5195C24.9891 91.7095 24.1437 91.4513 22.3529 90.4197C21.5698 89.9721 21.0272 89.3693 20.6825 88.8407C20.2696 89.3459 19.9918 89.9886 19.8454 90.6631C20.415 92.0684 25.3224 91.7584 25.0493 93.1475C24.9122 93.7973 23.5764 93.4226 21.5939 92.8272C20.8125 92.5951 20.194 92.2005 19.7469 91.818C19.7763 92.7995 20.0937 93.7542 20.7371 94.4469C22.1217 95.9428 24.4022 95.8357 24.4022 95.8357C24.5607 95.83 25.4582 98.7064 27.5548 99.9241C28.8103 100.664 30.2299 100.49 31.428 99.8713C30.7891 99.6992 30.0722 99.3936 29.3909 98.8365C27.5729 97.3909 26.3795 96.3988 26.9176 95.8667C28.0685 94.7306 30.8855 99.4943 32.5751 99.0812C32.8868 98.8115 33.1668 98.5105 33.3913 98.1952C33.5854 97.938 33.8064 97.5801 34.0288 97.1489C33.2655 97.1928 32.2452 97.1057 31.2004 96.6208C29.0834 95.6255 28.3124 95.0065 28.0872 94.2925C27.8627 93.5419 28.8839 93.8813 29.401 94.0598C30.9478 94.5896 33.304 96.7948 34.4259 96.0951C34.4556 96.0736 34.4896 96.0582 34.5177 96.047L34.5237 96.0427C34.78 95.3703 35.0088 94.6093 35.1461 93.7968C34.5235 93.8478 33.794 93.8132 33.0271 93.5888C30.7938 92.9211 28.8679 92.2036 29.6082 91.7517C31.0337 90.8965 33.6306 92.7837 35.254 92.8429C35.322 91.7461 35.1829 90.5997 34.7056 89.4982C34.3364 89.6377 33.8843 89.7375 33.3902 89.7412C31.7832 89.7424 30.8368 90.0086 30.6408 88.9213C30.3883 87.5676 32.9086 89.4738 34.3562 88.6118C33.2559 85.5292 33.4914 82.8213 33.4914 82.8213C33.4914 82.8213 30.7453 83.2727 27.6247 84.4455C27.6187 84.4498 27.6187 84.4498 27.6187 84.4498C26.5995 86.1324 29.9476 87.0811 28.8061 87.5781C28.0269 87.9135 27.7865 87.2285 27.1196 86.2275C26.7905 85.7329 26.6683 85.2247 26.6302 84.8457C25.857 85.1768 25.0712 85.5531 24.3197 85.977C24.4079 87.178 27.2374 88.41 27.1058 89.8325C27.0377 90.4778 25.9011 89.4266 24.6955 88.1542Z" fill="#5C5C5C"/>
    </g>
    <path d="M49.8939 54.274L48.3247 55.9391L41.9559 52.2457L44.592 60.5999L36.0962 58.4637L40.1606 64.6024L38.5914 66.2675L31.0994 54.8542L41.2501 57.4506L38.1114 47.4135L49.8939 54.274Z" fill="#5C5C5C"/>
    <path d="M65.2423 41.8322L63.3054 43.3293L61.149 42.2661L56.4397 45.9061L56.9125 48.2706L54.963 49.7775L52.0065 35.2781L65.2423 41.8322ZM55.9405 43.4811L58.9281 41.1718L55.0888 39.2658L55.9405 43.4811Z" fill="#5C5C5C"/>
    <path d="M76.0674 29.4721L72.1422 22.6116L74.0587 21.5151L80.6537 33.0418L69.2547 29.9044L73.1799 36.7649L71.2634 37.8614L64.6684 26.3347L76.0674 29.4721Z" fill="#5C5C5C"/>
    <path d="M92.5125 13.3068L95.4877 20.6467C96.0446 22.0208 96.0351 23.3886 95.459 24.75C94.8829 26.1115 93.9127 27.0687 92.5485 27.6217C91.1744 28.1786 89.8067 28.169 88.4452 27.5929C87.0838 27.0168 86.1246 26.0418 85.5676 24.6677L82.5925 17.3277L84.6388 16.4983L87.6139 23.8382C87.9425 24.6489 88.5047 25.2266 89.3005 25.5716C90.1023 25.9027 90.9085 25.9039 91.7191 25.5754C92.5198 25.2508 93.0877 24.6926 93.4228 23.9007C93.7637 23.095 93.7699 22.2868 93.4414 21.4762L90.4663 14.1362L92.5125 13.3068Z" fill="#5C5C5C"/>
    <path d="M108.928 10.6944L104.044 12.0026L104.839 14.9699L108.888 13.8853L109.46 16.0181L105.41 17.1028L106.205 20.0701L111.089 18.762L111.665 20.9102L104.632 22.7938L101.321 10.4297L108.353 8.54611L108.928 10.6944Z" fill="#5C5C5C"/>
    <path d="M121.339 16.7092L126.623 15.913L126.954 18.1122L119.471 19.2398L117.564 6.58265L119.763 6.25129L121.339 16.7092Z" fill="#5C5C5C"/>
    <path d="M146.839 17.0152L144.392 17.0701L143.288 14.9343L137.337 15.0678L136.314 17.2513L133.85 17.3066L140.079 3.88349L146.839 17.0152ZM138.375 12.82L142.15 12.7353L140.192 8.92222L138.375 12.82Z" fill="#5C5C5C"/>
    <path d="M174.07 16.037L170.454 15.3531L169.77 18.969L167.883 18.6121L168.567 14.9962L164.951 14.3123L165.311 12.41L168.927 13.094L169.608 9.49381L171.495 9.85065L170.814 13.4508L174.43 14.1347L174.07 16.037Z" fill="#5C5C5C"/>
    <path d="M202.185 16.2023L198.922 24.3404C198.458 25.4987 197.645 26.322 196.484 26.8103C195.337 27.2926 194.169 27.2956 192.981 26.8192C191.832 26.3587 191.012 25.5528 190.52 24.4016L192.586 23.506C192.852 24.1302 193.258 24.5515 193.803 24.7698C194.416 25.0159 195.022 25.0115 195.618 24.7565C196.224 24.5054 196.643 24.0928 196.873 23.5186L200.136 15.3805L202.185 16.2023Z" fill="#5C5C5C"/>
    <path d="M220.386 25.4045L216.557 32.3369C215.84 33.6347 214.771 34.4884 213.35 34.8978C211.93 35.3073 210.575 35.1562 209.287 34.4443C207.989 33.7273 207.136 32.6586 206.726 31.2381C206.317 29.8177 206.47 28.4585 207.187 27.1607L211.017 20.2283L212.95 21.2961L209.12 28.2285C208.697 28.9941 208.602 29.7946 208.835 30.6302C209.083 31.4615 209.589 32.0887 210.355 32.5117C211.111 32.9295 211.902 33.0193 212.728 32.7811C213.569 32.5388 214.201 32.0348 214.624 31.2692L218.454 24.3368L220.386 25.4045Z" fill="#5C5C5C"/>
    <path d="M223.726 40.2824L228.05 43.4226L226.743 45.2221L220.619 40.775L228.141 30.4181L229.94 31.7249L223.726 40.2824Z" fill="#5C5C5C"/>
    <path d="M234.371 51.5819L232.701 50.1127L241.157 40.503L242.826 41.9721L234.371 51.5819Z" fill="#5C5C5C"/>
    <path d="M248.51 65.9727L246.858 64.1662L247.739 61.9293L243.722 57.5371L241.405 58.2037L239.742 56.3854L253.947 52.2404L248.51 65.9727ZM246.097 56.839L248.646 59.6255L250.228 55.6418L246.097 56.839Z" fill="#5C5C5C"/>
    <defs>
    <clipPath id="clip0">
    <rect width="23.4546" height="29.3182" fill="white" transform="translate(26.7083 108.167) rotate(-125.765)"/>
    </clipPath>
    </defs>

  </svg> 

  </footer>

  <% include partials/analytics.html.ejs %>
</body>
</html>
